header
{
    background-color: yellow;
}
h1
{
    text-align: center;
}
.drostart
{
    text-align: right;
}
body
{
    text-align: center;
    background-color: gold;
    color: black;
}
input
{
    margin: 5px;
}
table
{
    border: 1px solid royalblue;
    width:100%;
    margin-top:10px;

}
th,td
{
    padding:10px;
}
tr
{
    border: 1px solid royalblue;
}

fieldset
{
    margin: 10px;
    border: 2px double royalblue;
}
a
{
    text-decoration: none;
}
.icon
{
    max-width: 40px;
}
.dropdown{
    background-color: none;
}
.btn
{
    background-color: none;
}