<!DOCTYPE html>

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <style>
      ul#proList{list-style-position: inside}
      li.item{list-style:none; padding:5px;}
   </style>

    <title>قرار ملاقات</title>
</head>
<body>
    <header>
      <h1>قرار بزار</h1>

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/" ><img  class="icon" src="static/images/home.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><img  class="icon" src="static/images/enter.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><img  class="icon" src="static/images/highlight.png"></a>
        </li>
      </ul>

    </header>
    {% block body %}{% endblock %}
    <footer>created by <a href="https://github.com/farzin2079">farzin</a></footer>
</body>
</html>