<!DOCTYPE html>

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link href="/static/style.css" rel="stylesheet">

    <title>appointment</title>
</head>
<body>
    <header>
        <h1>take appointment</h1>
        <a href="/login">log in</a>
        <a href="/">home</a>
        <a href="/register">register</a>
        <br>
        .
    </header>
    {% block body %}{% endblock %}
    <footer>created by farzin</footer>
</body>
</html>